/**************************************
* complément de style pour le plugin emendo
***************************************/

#comarquage .co-home {
    display: none;
}


#comarquage #cm-content {
	float: none;
    width: 100%;
}

#comarquage #cm-sidebar {
    float: none;
    width: 100%;
}

#cm-sidebar #sp-actualite {
    display: none;
}

#cm-sidebar ul li:before {
    display: none;
}

#cm-sidebar .block {
	overflow: inherit;
}

#comarquage h1, #comarquage h2, #comarquage h3 {
	color: #702192;
}